{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Davor - CV Resume</title>
	<meta charset="UTF-8">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
	<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree//css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
	<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</head>
<body>

	<section class="hero-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">
						<div class="col-lg-6">
							<div class="hero-text">
								{% for info in info %}
								<h2>{{info.name}} {{info.last_name}}</h2>
								<p>I’m a digital designer in love with photography, painting and discovering new worlds and cultures.</p>
							</div>
							<div class="hero-info">
								<h2>General Info</h2>

								<ul>
									<li><span>Date of Birth</span>{{info.date_of_birth}}</li>
									<li><span>Address</span>{{info.address}}</li>
									<li><span>E-mail</span>{{info.email}}</li>
									<li><span>Phone </span>+{{info.phone_number}}</li>
								</ul>
								{% endfor %}
							</div>
						</div>
						<div class="col-lg-6">
							<figure class="hero-image">
								<img src="{% static 'css/iamge/slika.jpg' %}" alt="5">
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Social links section start -->
	<div class="social-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="social-link-warp">
						<div class="social-links">
							<a href=""><i class="fa fa-pinterest"></i></a>
							<a href=""><i class="fa fa-linkedin"></i></a>
							<a href=""><i class="fa fa-instagram"></i></a>
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
						</div>
						<h2 class="hidden-md hidden-sm">My Social Profiles</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Social links section end -->

	<!-- Resume section start -->
	<section class="resume-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-7 offset-xl-2">
					<div class="section-title">
						<h2>Work Experience</h2>
					</div>

					<ul class="resume-list">
						{% for work in work%}
						<li>
							<h2>{{work.start_date}}-{{work.end_date}}</h2>
							<h3>{{work.company}}</h3>
							<h4>{{work.position}}</h4>
							<p>{{work.description}}</p>
							<p>{{work.address}}</p>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Resume section end -->

	<!-- Resume section start -->
	<section class="resume-section with-bg spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-7 offset-xl-2">
					<div class="section-title">
						<h2>Education</h2>
					</div>
					<ul class="resume-list">
						{% for education in education%}
						<li>
							<h2>{{education.start_date}} - {{education.end_date}}</h2>
							<h3>{{education.school}}</h3>
							<h3>{{education.section}}</h3>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Resume section end -->





	<!-- Portfolio section start -->
	<section class="portfolio-section spad pb-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-4 col-md-8 offset-xl-2 ">
					<div class="section-title">
						<h2>Portfolio</h2>
					</div>
				</div>
				<div class="col-md-4 text-md-right">
					<a href="https://github.com/Telisman" class="site-btn mb-5">See All Portfolio</a>
				</div>
			</div>
			<div class="portfolio-warp">
				<div class="row">
					<div class="col-xl-3 col-lg-6 col-md-6">
						<div class="portfolio-item">
							<a href="https://github.com/Telisman/django_web_app" class="set-bg port-pic" data-setbg="{% static 'css/iamge/logo_house.png' %}"></a>
							<h2>Web page</h2>
							<p>User Dashboard - back-end/front-end </p>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6">
						<div class="portfolio-item">
							<a href="https://github.com/Telisman/qr_code_android_app" class="set-bg port-pic" data-setbg="{% static 'css/iamge/logo_qr.png' %}"></a>
							<h2>QR code app</h2>
							<p>Mobile developer python</p>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6">
						<div class="portfolio-item">
							<a href="https://github.com/Telisman/cv_flas_py" class="set-bg port-pic" data-setbg="{% static 'css/iamge/logo_cv.png' %}"></a>
							<h2>CV page</h2>
							<p>API framework RESTdjango </p>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6">
						<div class="portfolio-item">
							<a href="https://github.com/Telisman/tkinter_book_desktop_app" class="set-bg port-pic" data-setbg="{% static 'css/iamge/logo_book.png' %}"></a>
							<h2>Book app desktop</h2>
							<p>Python kivy desktop app</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Portfolio section end -->

	<!-- Extra section start -->
	<section class="extra-section spad pb-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-8 offset-xl-2">
					<div class="section-title">
						<h2>Extra Skills</h2>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6 pt-5">
							<div class="fact-box trans">
								<div class="fact-content">
									<div class="circle-progress">
										<div id="progress1" class="prog-circle"></div>
										<div class="progress-info">
											<h2>75%</h2>
										</div>
										<div class="prog-title">
											<h3>Inspiration</h3>
											<p>Etiam nec odio vestibulum est.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 pt-5">
							<div class="fact-box trans">
								<div class="fact-content">
									<div class="circle-progress">
										<div id="progress2" class="prog-circle"></div>
										<div class="progress-info">
											<h2>83%</h2>
										</div>
										<div class="prog-title">
											<h3>Inspiration</h3>
											<p>Etiam nec odio vestibulum est.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="fact-box">
								<div class="fact-content">
									<img src="img/icon/1-w.png" alt="">
									<h2>14</h2>
									<p>Years of Experience</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="fact-box">
								<div class="fact-content">
									<img src="img/icon/2-w.png" alt="">
									<h2>9</h2>
									<p>Awards Won</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Extra section end -->





	<!--====== Javascripts & Jquery ======-->
	 <script src="{% static 'js/bootstrap.min.js' %}"></script>
	 <script src="{% static 'js/circle-progress.min.js' %}"></script>
	 <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	 <script src="{% static 'js/magnific-popup.min.js' %}"></script>
	 <script src="{% static 'js/main.js' %}"></script>
	 <script src="{% static 'js/owl.carousel.min.js' %}"></script>

</html>